html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    font-family: 'Open Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
}

/* Header */

.user{
    display: flex;
    flex-direction: row;
}

.logo{
    max-width: 85px;
    width: 100%; 
    max-height: 28px;
    height: 100%;
}

.avatar{
    margin: 10px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.nav-r-block{
    display: flex;
    flex-direction: row;
}

.nav-right, .vl{
    display: none;
}

.nav-right{
    font-size: 15px;
    padding: 28px 17px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    
}

.vl{

    border-left: 1px solid white;
    height: 16px;
    margin: 32px 17px;
}


.header-content{
    z-index: 1;
    position: fixed;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.burger{
    padding: 0 0 0 9px;
    display: flex;
    align-items: center;
}

/* Hero */

.CTA{
    padding: 0 0 20px 0;
}

.title{
    max-width: 842px;
    font-size: 44px;
    margin: 24px 0 12px;
    text-align: center;
    padding: 0 15px;
    color: white;
    font-weight: 700;
    margin: 24px auto 12px;
    line-height: 1.25em;
}

.hero-screen{
    padding: 220px 0px 0px;
    background-color: #f2ae54;
    position: relative;
    margin-bottom: 20px;
}


.btn-1{
    color: #FFF;
    background-color: #1DB954;
    border: none;
    padding: 19px 50px 21px;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 600;
    margin: 24px auto;
}

.btn-cont{
    display: flex;
    justify-content: center;
}

.info{
    font-size: 12px;
    color: #EFEFEF;
    font-weight: 400;
    text-align: center;
}

.info a{

    color: #EFEFEF;
}


/* Second-block */

.sub-title{
    font-size: 32px;
    margin: 44px 0 12px;
    text-align: center;
}

.desc{
    font-size: 18px;
    margin: 9px 0 24px;
    text-align: center;
}

.btn-2{
    border: 2px solid #616467;
    color: #616467;
    background-color: white;
    padding: 19px 50px 21px;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 600;
    margin: 0 auto 50px;
}

.container{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.tile-img{
    min-width: 146px;
    width: 100%;
    min-height: 146px;
    height: 100%;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.row-1, .row-2{
    display: flex;
    flex-direction: row;
}

.bib{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-bottom: 50px;
}

.tile{
    max-width: 55%;
    width: 55vw;
    padding: 12px 15px 0;
}

.song-name{
    color: #919496;
    margin-top: 24px;
    text-align: center;
}

.artist{
    font-size: 14px;
    color: #C1C3C6;
    margin: 8px auto 0;
    text-align: center;
}

.listen{
    font-size: 14px;
    font-weight: 700;
    color: #1DB954;
    padding: 16px 0 18px;
    text-align: center;
}


/* Footer */

.footer-content{
    padding: 50px 0 20px;
    background-color: black;
}

.footer-columns{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.footer-links-title{
    font-size: 12px;
    font-weight: 700;
    color: #919396;
    margin: 50px 0 22px;
}

.footer-links{
    font-size: 16px;
    font-weight: 400;
    color: white;
    padding: 3px 0 15px;
    text-decoration: none;
}

.footer-columns-social{
    margin: 120px 15px 15px;
}

.social{
    background-color: #222326;
    padding: 10px;
    border-radius: 100px;
    margin-right: 15px;
}

.footer-info{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.conf{
    display: inline-block;
    font-size: 10px;
    color: #919496;
    text-decoration: none;
    padding: 10px 0;
    margin-left: 15px;
    width: fit-content;
}








/* media */
@media (min-width: 770px) {
    .row-1, .row-2{
        display: flex;
        justify-content: center;
    }

    .tile-img{
        width: 234px;
        height: 234px;
    }

    .bib{
        flex-direction: column;
    }

    .footer-links-title, .footer-links{
        width: fit-content;
    }

    .footer-columns{
        width: 33%;
    }

    .footer-nav{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }

    .title{
        font-size: 64px;
        min-width: 770px;
    }

    .hero-screen{
        padding: 80px 0px 0px;
    }

    .tile-text{
        display: none;
    }

    .tile-bg{
        width: fit-content;
    }

    .tile{
        width: fit-content;
    }

    .bib{
        overflow-x: auto;
}

@media (min-width: 990px) {
    .nav-right{
        display: inline-block;
    }
    
    .vl{
        display: block;
    }


    .header-content{
        background-color: rgba(0, 0, 0, 0.6);
    }

    .logo{
        max-width: 132px;
        width: 100%; 
        max-height: 42px;
        height: 100%;
    }

    .user{
        align-items: center;
    }
    
    .burger{
        display: none;
    }
}